/*
 *
 * CSS com estilos específicos do tema azul
 *
 * @Autores
 *
 * - Simples Consultoria - www.simplesconsultoria.com.br
 * - DESERTO Digital - www.desertodigital.com.br
 * - Plano Digital - www.planodigital.com.br
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */

 /* grid cover/bootstrap */
@media (min-width: 600px) {

.row{
    margin-right: -15px;
    margin-left: -15px;
}

#portal-columns{
  margin: 0;
}

  .tile {
    margin-right: 15px;
    margin-left: 15px;
  }


  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}


/* ==========================================================================
   Cabeçalho do portal
   ========================================================================== */

#header {
    padding: 32px 0 0 0;
    /*background-color: #1659bf;*/
    background: url("../img/h04.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
}

/* Menu da Barra
   ========================================================================== */

div#wrapper-barra-brasil {
    clear: both;
    top: -18px;
}

/* Menu de Acessibilidade
   ========================================================================== */

#accessibility-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    font-size: 1.2em;
    top: 47px;
}

.anchor {
    display: block;
    font-size: 0;
    height: 0;
    width: 0;
}

/* Menu de Acessibilidade
   ========================================================================== */

#accessibility a {
    color: #dcecff;
}

#accessibility span {
    background: url("../img/bg-acess-key.gif") center center no-repeat;
    color: #0a1857;
}

/* Titulo do portal
   ========================================================================== */

#portal-logo,
#portal-title { color: #fff !important; }
#portal-title-1 { top: 32px; }



/* Menu site actions - Acessibilidade, Alto Contraste, Mapa do site
   ========================================================================== */

#portal-siteactions,
#portal-language { border-bottom: 1px dotted #6893cb; }

#portal-siteactions a,
#portal-siteactions a:hover,
#portal-language a,
#portal-language a:hover { color: #dcecff !important; }

/* Menu sobre o portal
   ========================================================================== */

#sobre { background: #0f4098; }

#sobre a { color: #fff; }

#sobre .portalservicos-item a { border-right: 1px solid #87a0cc; }

/* Formulário de busca
   ========================================================================== */

#portal-searchbox { border: 1px solid #CCCCCC; }

/* ==========================================================================
   Sprinte Icons
   ========================================================================== */

/* icones de redes sociais */
#social-icons a,
/* central de conteudo */
.item-central .link-videos,
.item-central .link-audios,
.item-central .link-infograficos,
.item-central .link-publicacoes,
.item-central .link-fotos,
.item-central .link-aplicativos,
.item-central .link-dadosabertos,
/* icone do botão de busca */
#header input.searchButton { background-image: url("../img/sprite.png"); }
/* icone do botão de relatar erros */
#content .relatar-erros a { background: url("../img/icon-reportar-erros.png") no-repeat; }

/* Summary view */
#content .summary-view-icon [class*="icon"] {
    background-image: url("../img/summary-view-icons-sprite.png");
}


/* ==========================================================================
   Portles
   ========================================================================== */

/* Portlet de navegação
   ========================================================================== */

#portal-column-one > .nav-menu-de-relevancia .first-item-nav a,
#portal-column-one > .nav-menu-de-relevancia .first-item-nav a span {
    color: #2c66ce !important;
}

.portlet-static-contents-central .portletHeader,
.portlet-static-resource-center .portletHeader,
.portlet-static-centrales-del-contenido .portletHeader,
.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
    border-top: 4px solid #1659bf;
    color: #1659bf;
}

.portletNavigationTree .portletHeader a { color: #1659bf !important; }

.navTreeLevel0 > li.navTreeItemInPath,
.navTreeLevel0 > li.navTreeCurrentNode {
    border-top: 2px solid #1659bf !important;
    border-bottom: 2px solid #1659bf !important;
}


.list-central {
  margin-left: 0;
}

/* ==========================================================================
   Collective Cover
   ========================================================================== */

/* Tile Banner Rotativo
   ========================================================================== */

/* Cores dos botões */

#tile_banner_rotativo li .button-nav,
.orderTiles .button-nav {
    border-right: 1px solid #254e8c;
    background-color: #1659bf;
}

#tile_banner_rotativo .activeSlide .button-nav,
#tile_banner_rotativo li .button-nav:hover,
#tile_banner_rotativo li .button-nav:focus {
    background-color: #edeff1;
}

/* ícone do botão */

#content  #tile_banner_rotativo li .button-nav,
.orderTiles .button-nav {
    background-image: url("../img/bullet-banner-rotativo.gif");
}

/* Tile de abas
   ========================================================================== */

#formfield-codevasf-portal-tabs-count,
#formfield-codevasf-portal-tabs-tile_title,
#formfield-codevasf-portal-tabs-more_link,
#formfield-codevasf-portal-tabs-more_link_text {
    display: none;
}


.tabs-tile .tab-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tab-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
     position: relative;
}

.tab-button.active {
    background: #005199;
}

.tabs-tile .tab-button.active:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #005199;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.tab-button h2 a {
    padding: 10px !important;
    text-align: center;
}

.tabs-tile .tab-button a {
    display: block;
    margin: 0.3rem;
    padding: .2rem;

}

.tabs-tile .tab-button.active a{
    position: relative;
}

.brasao-agenda{
  display: none;
}

/*
.tabs-tile .tab-button.active a:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #005199;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
*/


.tabs-tile .tab-button:first-child a {
    margin-left: 0;
}
.tabs-tile .tab-button:last-child a {
    margin-right: 0;
}

.tabs-tile .tab-button.active a {
    /* background: #005199; */
}


#content .tile .tabs-tile img.left,
#content .tile .tabs-tile img.right {
    width: auto;
}
.tabs-tile .tab-item {
    display: none;
}
.tabs-tile .tab-item.active {
    display: block;
}
.tabs-tile .tab-description {
    font-weight: bold;
}


/* Tile de dois selects
   ========================================================================== */
.twoselects-tile > .selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.twoselects-tile > .selects > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.twoselects-tile > .selects > .second-select > select {
  display: none;
}
.twoselects-tile > .selects > .second-select > select.active {
  display: block;
  width: 100%;
}
.twoselects-tile > .twoselects-results > div {
  display: none;
}
.twoselects-tile > .twoselects-results > div.active {
  display: block;
}


/* Tiles
   ========================================================================== */

.tile a { color: #2c67cd !important; }


/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
    background: #1659bf;
    color: #fff;
}

#footer a { color: #fff; }

#wrapper #footer .footer-logos { background: #0042b1; }

/* Doormat
   ========================================================================== */

#doormat-container { background: #1659bf; }

#doormat-container dl { border-left: 1px dotted #fff; }

#doormat-container dt { color: #fff; }






/* ==========================================================================
   Comentários
   ========================================================================== */

#viewlet-below-content .discussion {
  border-top: 4px solid #000000;
  padding-top: 20px;
  margin-top: 15px;
}

#viewlet-below-content .comment a {
  color: #345179;
}

#viewlet-below-content .comment .documentByLine {
  color: #345179;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 10px;
}

.replyTreeLevel0 {
    background: #eeeff1;
    padding: 15px 0px 10px;
    clear: both;
}

.replyTreeLevel1 {
    border-left: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    clear: both;
}

.replyTreeLevel2 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 20px;
    clear: both;
}

.replyTreeLevel3 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 40px;
    clear: both;
}

.replyTreeLevel4 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 60px;
    clear: both;
}

.replyTreeLevel5 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 80px;
    clear: both;
}

.replyTreeLevel6 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 100px;
    clear: both;
}

.replyTreeLevel7 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 120px;
    clear: both;
}

.replyTreeLevel8 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 140px;
    clear: both;
}

.replyTreeLevel9 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 160px;
    clear: both;
}

.replyTreeLevel10 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 180px;
    clear: both;
}

#viewlet-below-content .comment .documentByLine .commentDate {
  font-size: 1.0em;
  color: #172a38;
  font-weight: normal;
  padding-top: 0;
}

.commentBody {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    overflow: visible;
}

button.context.reply-to-comment-button {
    margin-left: 20px;
}

.commentActions {
    float: left;
    margin-left: 10px;
}

.commentBody p {
    font-size: 1.2em;
    color: #172a38;
    padding: 0 10px 10px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    float: none;
}

.row #commenting textarea,
.row .discussion textarea {
    font: 1.2em "open_sansregular", Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid #eeeff1;
}

#commenting p {
    font-size: 1.2em;
}

.row #commenting label, .row .discussion label {
    font-size: 1.1em;
}

.discussion .reply {
    clear: both;
    color: #000000;
    padding-top: 5px;
}

/****  CUSTOMIZAÇÃO CODEVASF ***/

#portal-title{
  overflow: hidden;
  text-indent: -800px;
  background-image: url("../img/logo-codevasf.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 289px;
  max-width: 100%;
  height: 55px;
  position: relative;
  top: 22px;
  margin-bottom: 41px;
}


.portlet-static-contents-central .portletHeader,
.portlet-static-resource-center .portletHeader,
.portlet-static-centrales-del-contenido .portletHeader,
.portlet-static-centrais-de-conteudo .portletHeader,
.portletNavigationTree .portletHeader{
    border:none;
    background: #005199;
    color: #fff;
    padding: 24px 8px 24px 10px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

.portletNavigationTree .portletHeader a{
  color: #fff !important;
  margin-bottom: 0;
}

dl.portlet dt a:link, dl.portlet dt a:visited{
  color: #fff !important;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem{
      border: 1px solid #dfdfdf;
      border-top:none;
}

.first-item dl.portlet ul.navTreeLevel0 > .navTreeItem:first-child{
  border-top: 1px solid #dfdfdf;
}

.portletNavigationTree > .portletItem a span{
  color: #666666 !important;
}

dl.portlet ul.navTree li a{
  padding: 12px 8px !important;
}

#sobre{
  background-color: #005199;
}

#footer{
  background-color: #005199;
}

#wrapper #footer .footer-logos{
  background-color: #00420c;
}

#accessibility span{
  background: #000;
  color: #fff;
}

#accessibility a{
  color: #fff;
}

#portal-siteactions a,
#portal-siteactions a:hover,
#portal-language a,
#portal-language a:hover{
  color: #fff !important;
}

#portal-siteactions, #portal-language{
  border-bottom: 1px dotted #fff;
}

#portal-searchbox{
  border-radius: 0px;
}

#content .outstanding-header .outstanding-link{
      position: absolute;
    top: 10px;
    color: #fff !important;
        border: 1px solid #fff;
    padding: 4px 8px;
    right: 21px;
}

#content h1.documentFirstHeading{
  color: #005199;
  border-bottom: 1px solid #ebebeb;
}

#content .tile .outstanding-header .outstanding-title{
  padding-top:21px;
  min-height: auto;
  padding-bottom: 21px;
  padding-left: 21px;
  background: #4c85b7;
  border: none;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0;

}

.template-busca #portal-column-content.width-full{
  width: 97.75%
}

 .template-busca #portal-column-content.position-0{
   margin-left: -98.875%;
}  


.template-mapadosite #portal-column-content.width-full{
  width: 97.75%
}

 .template-mapadosite #portal-column-content.position-0{
   margin-left: -98.875%;
} 

.template-mapadosite #content h1.documentFirstHeading {
      padding-top: 50px;
}  
    

fieldset#search-field{
  text-align: left;
  padding-left: 0;
}

input.searchPage{
  border: 1px solid #dfdfdf;
    padding: 2px 6px;
    border-radius: 6px;
}

#content legend{
    padding: 5px 0px;
    font-size: 14px;
    color: #666;
}

.field input[type="text"]{
  border: 1px solid #dfdfdf;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 14px;
}

#content select{
  border: 1px solid #dfdfdf;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 14px;
    color: #666;
}

#content .field textarea{
   border: 1px solid #dfdfdf;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 14px;
    color: #666;
}

#content label{
  color: #666;
  font-size: 100%;
  font-weight: 100;
}

#content .label{
  color: #666;
  font-size: 100%;
  font-weight: 100;
}

input.searchButton{
      color: #fff;
    background-color: #005199;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 6px;
}

.formControls input[type="submit"]{
   color: #fff;
    background-color: #005199;
    border: none;
      padding: 3px 30px;
    cursor: pointer;
    border-radius: 6px;
}

.formControls input[type="reset"]{
    color: #666;
    border: 1px solid #dfdfdf;
        padding: 3px 30px;
    cursor: pointer;
    border-radius: 6px;
}

div.formControls{
  margin: 0;
}

#content li.formTab a.required span:after, 
#content-core li.formTab a.required span:after, 
div.field span.required:after{
      content: "●";
}


#content .tile .outstanding-header .outstanding-title a{
    color: #fff !important;
}

.portletStaticText ul{
  margin-left: 0;
}

dl.portlet dd.portletItem{
  padding: 0
}

.list-central .item-central{
      padding: 9px 0 7px;
}

.list-central .item-central.first{
  border-top:none;
}

.list-central .item-central{
  padding: 9px 11px 7px;
    border-bottom: 1px solid #d6dcd7;
    border-left: 1px solid #d6dcd7;
    border-right: 1px solid #d6dcd7;
}

  #portal-column-one{
        width: 22%;
  }


#portal-column-content{
  width: 75.75%;
  margin-left: -73.875%;
}

#portal-column-content.width-1\3a 2{
  width: 46.75%;
}

#doormat-container{
  background: #005199;
      border-top: 1px solid #80a8cc;
          padding-top: 46px !important;
}

#doormat-container dl{
  border:none;
}

#content #tile_banner_rotativo{
  position: relative;
}

.portletNavigationTree > .portletItem > .navTree > .navTreeItem > a > span,
.portletStaticText > .portletItem > .list-central > .item-central > a{
   font-size: 14px;
}

#content .title-azul-transparente{
    position: relative;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


#content .title-azul-transparente .outstanding-header .outstanding-title{
    position: absolute;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    z-index: 10;
    background-color: rgba(0, 81, 153, 0.7);
        margin: 0;
        text-indent: 21px;
}

#content .outstanding-header .outstanding-link{
  z-index: 100;
}

.lista-horizontal{
  background:none !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  border-radius: 0px;
}


.lista-horizontal .tile-content time{
  font-size: 10px;
  font-family: Arial;
  color: #adadad;
  display: block;
  padding-left: 16px;
  background-image: url(../img/ico-data.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.lista-horizontal .tile-content h2{
  font-family: Arial;
  font-size: 33px;
  line-height: 1.1;
  padding-top: 20px;
}

.lista-horizontal .tile-content h2 a,
.lista-horizontal .tile-content h2 a:visited{
   color: #000000 !important;
}

.lista-horizontal .tile-content p{
  font-size: 14px;
  color: #666666;
  font-family: Arial;
}


#plone-document-byline{
  width: 100%;
}

.documentAuthor{
    display: inline-block;
    margin-top: 8px;
}


.tile-default .tile-content time{
  font-size: 10px;
  font-family: Arial;
  color: #adadad;
  display: block;
  padding-left: 16px;
  background-image: url(../img/ico-data.png);
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 15px;
}


.tile-default  .tile-content h2{
  font-family: Arial;
  font-size: 14px;
     line-height: 1.3;
  padding-top: 20px;
}

.tile-default  .tile-content h2 a,
.tile-default  .tile-content h2 a:visited{
   color: #666666 !important;
}

.tile-default  .tile-content img{
    margin-bottom: 20px;
}

#content .title-verde .outstanding-header{
  border-top:none;
  background: none;
}

#content .title-verde .outstanding-header .outstanding-title{
  background-color: #4db276;
}

#content  .title-verde .outstanding-header .outstanding-link{
  background: none;
}


#content .title .outstanding-header .outstanding-title{
   margin-bottom: 0;
}

#content .tile .cover-richtext-tile .dataformat{
    font-size: 10px !important;
  font-family: Arial;
  color: #adadad;
  display: block;
  padding-left: 16px;
  background-image: url(../img/ico-data.png);
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 15px;
}

#content  .tile .cover-richtext-tile  .list-imagens-home{
  list-style: none;
  text-align: center;
  margin-left: 0;
}

#content .tile .cover-richtext-tile  .list-imagens-home li{
  list-style: none !important;
  display: inline-block !important;
}

#content .tile .cover-richtext-tile  .list-imagens-home li img{

}

#content  .tile .cover-richtext-tile  .list-imagens-home li + li{
  margin-left: 9px;
}

#content .amarelo  h2{
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
  color: #666666;
}

#tile_banner_rotativo.chamada_sobrescrito li .banner .title{
      margin: -77px 0 0;
}

#content .title-padrao,
#content .title-verde{
  margin-bottom: 0;
}

#content .tile .cover-richtext-tile {
  padding: 40px 20px;
  border: 1px solid #eaeaea;
}

#content .tr-fundocinza .cover-richtext-tile{
  background-color: #f8f8f8;
}

#content .tr-semborda .cover-richtext-tile{
      padding: 40px 0 0 0;
      border:none;
}

#content .tr-fundocinza .tile-content{
  padding: 40px 20px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}

#content .tile  .mapa-home{
  display: table;
}

#content .tile  .content-map{
    display: inline-block;
    width: 48%;
    float: left;
}

#content .tile .content-mapa-texto{
    display: inline-block;
    width: 46%;
    margin: 0;
    padding: 0;
        float: right;
}

#content .title-pagina .outstanding-header .outstanding-title{
    font-weight: bold !important;
    color: #005199;
    border-bottom: 1px solid #ebebeb;
    background: none;
    padding-left: 0px;
    font-size: 3em !important;
    text-transform: none;
}

#content .tile  .content-mapa-texto h5{
    font-size: 26px;
    color: #000000;
    font-weight: 100;
    font-family: "open_sansregular";
}

#content .tile  .content-mapa-texto a.link-mapa-point{
  display: inline-block;
  padding: 8px 8px 8px 22px;
  border:1px solid #686868;
  background-image: url(../img/bullet-veja-mais.png);
  background-repeat: no-repeat;
  background-position: 8px center;
  font-family: Arial;
  font-size: 10px;
  color: #666666 !important;
  border-radius: 2px;
}

#content .tile .content-mapa-texto p{
  margin-top: 10px;
  font-family: Arial;
  font-size: 14px;
  color: #666666;
}


ul.navTreeLevel0 li a.navTreeItemInPath,
ul.navTreeLevel0 li a.navTreeCurrentNode{
      background-position: 4px 17px !important;
}

dl.portlet ul.navTreeLevel1 .navTreeItem{
    padding-left: 18px !important;
}

.portletNavigationTree > .portletItem a span{
  display: block;
    padding-left: 6px;
}

dl.portlet ul.navTreeLevel0 > li  > .navTreeItemInPath{
    padding-left: 10px !important;
}



.template-text_only_view #content div.documentByLine{
  display: none;
}

.template-document_view #viewlet-social-like{
  padding-left: 10px;
  margin-bottom: 0;
  float: left;
}

.template-document_view #content #viewlet-social-like > div{
  text-align: left;
  float: left;
}


.template-document_view #viewlet-social-like > div{
  text-align: left;
}

#content-core{
  margin-top: 30px;
}

.navTreeItem a.navTreeItemInPath,
.navTreeItem a.navTreeCurrentNode{
  background: none !important;
}

.navTreeLevel0 > li.navTreeItemInPath,
.navTreeLevel0 > li.navTreeCurrentNode{
  background-color: #77b7f0;
  color: #fff;
  border-top: none !important;
  border-bottom: none !important;
}

.navTreeLevel0 > li.navTreeItemInPath a span,
.navTreeLevel0 > li.navTreeCurrentNode a span{
   color: #fff !important;
}

dl.portlet ul.navTree .navTreeCurrentItem{
  background-image: url(../img/bg-menu-selected.png) !important;
  background-repeat: no-repeat !important;
  background-position: 98% center !important;
}


dl.portlet ul.navTree .navTreeLevel1 .navTreeCurrentItem{
  background: none !important;
}



.navTreeLevel0 > li.navTreeItemInPath .navTreeLevel1 .navTreeItem,
.navTreeLevel0 > li.navTreeCurrentNode .navTreeLevel1 .navTreeItem{
  background-color: #ebebeb;
  border-top: none;
}

.navTreeLevel0 > li.navTreeCurrentNode .navTreeLevel1 .last-item{
      border-bottom: 1px solid #dfdfdf;
}

.navTreeLevel0 > li.navTreeItemInPath .navTreeLevel1 .navTreeItem a,
.navTreeLevel0 > li.navTreeCurrentNode .navTreeLevel1 .navTreeItem a{
  padding-left: 0 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.navTreeLevel0 > li.navTreeItemInPath .navTreeLevel1 .navTreeItem a span,
.navTreeLevel0 > li.navTreeCurrentNode .navTreeLevel1 .navTreeItem a span{
  color: #666666 !important;
}


.bloco-destaque-lista{
    display: table;
    content: " ";
}

.bloco-destaque-lista .bloco-destaque-item{
  padding-bottom: 15px;
}

.bloco-destaque-lista .bloco-destaque-item .bloco-destaque-item-titulo{
    font-size: 14px;
    color: #666666;
    padding-right: 40px;
}

.bloco-destaque-lista .bloco-destaque-item hr{
  width: 80%;
  margin: 20px 0;
}


.bloco-destaque-lista .bloco-destaque-item .image-inline{
  display: block;
  max-width: 100%;
  margin-top: 20px;
}

.bloco-destaque-lista .bloco-destaque-item .bloco-destaque-item-link{
  margin-top: 0;
}

.bloco-destaque-lista .bloco-destaque-item-col .image-inline{
  display: block;
  margin: 0 auto 12px auto;
}

.bloco-destaque-lista .bloco-destaque-item-col{
  padding: 0 16px;
}

.bloco-destaque-lista .bloco-destaque-item-col h2{
    font-size: 20px;
    color: #000000;
        text-align: center;
}

.bloco-destaque-lista .bloco-destaque-item-col p{
    font-size: 14px;
    color: #666666;
    text-align: center;
}

.bloco-destaque-lista .bloco-destaque-item-col p a{
  color: #666666 !important;
  text-decoration: none;
}

.bloco-destaque-lista .bloco-destaque-item-col p a:hover{
  text-decoration: underline;
}

#content table.quadro{
  width: 100%;
  margin-top: 16px;
}

.subtitle{
  text-transform: none;
}

#content table.quadro tr td,
#content table.quadro tr th{
  padding: 6px 4px;
  border-bottom: 1px solid #fff;
  vertical-align: middle;
}

#content table.quadro tr th{
  color: #fff;
  background-color: #77b7f0;
      text-align: left;
}

#content table.quadro tr td{
    color: #666666 !important;
}

#content table.quadro tr:nth-child(even) td{
   background-color: #f2f2f2;
}

#content table.quadro tr:nth-child(odd) td{
   background-color: #ebebeb;
}

#content table.quadro tr p{
  padding: 0;
  margin: 0;

}

#content table.quadro th p{
    color: #fff !important;
}

#content #viewlet-social-like .sociallike-network-gplus{
  display: none;
}


#content .tile img.left{
      margin: 0 0 .5em 0;
    width: 100%;
}


#map,
#mapa {
    width: 100%;
    height: 600px;
    background-color: grey;
 }

 .map-container{
    position: relative;
    max-width: 100%;
 }

 .box-map-list{
    position: absolute;
    max-width: 100%;
    width: 200px;
    background-color: #fff;
    border:1px solid #f1f2f1;
    box-shadow: 2px 2px #d9d9d8;
    z-index: 999;
    top: 3px;
    left: 3px;
 }

 .box-map-list .box-map-list-content{
    padding:20px 12px;
 }

 .box-map-list .box-map-list-content h3{
    font-size: 12px;
    font-family: 'open_sansregular', sans-serif;
    color: #8e8e8e;
    font-weight: 400;
 }

 .map-container .map-text-content{
  padding-top: 25px;
 }


 .box-map-list .box-map-list-content ul{
    list-style: none !important;
    padding-top: 10px;
    margin: 0 !important;
 }

 .box-map-list .box-map-list-content ul li{
    display: block !important;
    padding-top: 8px;
    border-top:1px solid #f0f0ef;
    margin-bottom: 10px !important;
    font-family: 'open_sansregular', sans-serif;
    list-style: none !important;
    font-size: 11px;
 }

 .box-map-list .box-map-list-content ul li.active{
    padding-left: 20px;
    background-image: url(../img/pin2.png);
    background-position: 0 7px;
    background-repeat: no-repeat;
 }

  .box-map-list .box-map-list-content ul li a{
    font-size: 12px;
    color: #666666 !important;
    text-decoration: none;
  }

  .box-map-list .box-map-list-content ul li a:visited,
    .box-map-list .box-map-list-content ul li a:link{
       color: #666666 !important;
    }

    #content-core p,
    #content-core li{
      color: #666666;
    }

    #content-core li{
          font-size: 110%;
    }

    #content-core li a:visited,
    #content-core li a:link,
    #content-core li a{
      color: #005199 !important;
    }


  .gm-style-iw{
max-width: 250px;
  }

  .gm-style-iw .firstHeading{
    font-size: 13px;
    font-family: 'open_sansregular', sans-serif;
    padding: 8px 0;
    color: #666666;
    padding-left: 2px;
  }

  #siteNotice img{
    width: 100%;
    max-width: 100%;
  }

  #bodyContent{
    font-size: 12px;
    font-family: 'open_sansregular', sans-serif;
    color: #666666;
    line-height: 1.2;
    padding-left: 2px;
  }

  .tile a.link-download-item{
    color: #666666 !important;
    background-image: url(../img/icone_download.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    padding: 0 0 0 21px;
    font-weight: bold;
  }

   a.link-site-item{
    color: #666666 !important;
    background-image: url(../img/readmoredarkgray.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    padding: 0 0 0 26px;
    font-weight: bold;
  }


  span.link-download-item a{
        background: transparent url(../img/icone_download.png) 0px 1px no-repeat;
      padding: 1px 0px 1px 16px;
  }


  #content-core a.link-download-item,
    #content-core li a.link-download-item{
    color: #666666 !important;
    background-image: url(../img/icone_download.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    padding: 0 0 0 21px;
    font-weight: bold;
  }



  #viewlet-social-like{
      border-left: none;
  }

  div.figure {
  width: 100%;
  border: thin silver solid;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

 div.figure img.scaled {
  width: 100%;
}

  .template-document_view #viewlet-social-like{
      padding-left: 0;
  }

  #bodyContent .descricao{
    padding-bottom: 10px;
  }

  #bodyContent .download-item{
    background-color: #e4e7e9;
    margin: 0 0 2px 0;
    padding: 8px 0 8px 30px;
    color: #666666;

    background-image: url(../img/icone_download.png);
    background-position: 5px 9px;
    background-repeat: no-repeat;
  }

   #bodyContent .download-item a{
    color: #666666;
    text-decoration: none;
   }

   #bodyContent .download-item a:hover{
    text-decoration: underline;
   }


   .title-sub-area{
        padding-top: 25px;
        padding-bottom: 8px;
        color: #005199;
        border-bottom: 1px solid #ebebeb;
      }

      .list-veja-mais{
        padding-top: 15px;
        padding-left: 15px;
      }

      .list-veja-mais li{
        list-style: disc;
        color: #005199;
        padding-bottom: 8px;

      }

      .list-veja-mais li a{
        text-decoration: none;
        color: #005199;
      }

      .list-veja-mais li a:hover{
        font-weight: bold;
      }

      .box-select-combobox{
        margin-top: 20px;
        border:1px solid #eaeaea;
        background: #f8f8f8;
        padding: 20px;
      }

      .box-select-combobox *{
        color: #454545;
      }

      .combobox-header-content{
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid  #a9a9a9;
      }

      .combobox-content-span-item{
            position: relative;
            display: inline-block;
            max-width: 100%;
            margin-left: 0px !important;
      }

      .combobox-content-span-item .combo_selector {
            width: 100%;
          max-width: 100%;
          background-color:#ffffff;
          background-image: url('../img/ico-combo-select.jpg');
          background-position: right center;
          background-repeat: no-repeat;
          font-size: 14px;
          cursor: pointer;
          display: block;
          text-align: left;
          padding: 4px 0;
          text-indent: 8px;
          border:1px solid #a9a9a9;
          border-radius: 4px;
          padding-right: 8px;
      }

      .combo_itens {
          width: 100%;
          display: none;
          position: absolute;
          margin: 0;
          background-color:#ffffff;
          border:1px solid #a9a9a9;
          top:29px;
          left: 0;
          max-height: 300px;
          overflow-x: auto;
          margin-left: 0px !important;
      }

      .combo_itens > li {
          font-size: 14px;
          padding: 4px 10px;
          cursor: pointer;
          text-align: left;
      }

      #content .combo_itens > li a{
        text-decoration: none;
        color: #454545 !important;
      }

      .combo_itens > li:hover {
          background: #f2f2f2;
      }

      .combobox-body-content{
        padding: 25px 0;
      }
      .combobox-item + div{
        display: none;
      }


      .tabs-tile{

      }



      .tabs-tile .tab-buttons{
        border:none;
        background: none;
        padding: 10px 0;
        margin-bottom: 0;
      }




      .tabs-tile .tab-label{
          display: inline-block;
          margin-left: 0;
          margin-right: 8px;
          position: relative;
          top: 4px;
          font-weight: bold;
      }

      .tabs-tile .tab-dropdown{
        padding: 6px;
        border-radius: 4px;
        color: #454545;
          font-size: 0.9em;
          font-family: Arial, Helvetica, sans-serif;
          line-height: 1.25em !important;
          background-color: #f4e8e8;
      }



      .tile-default .tile-content .tab-button h2{
            padding-top: 0px;
      }

        #content .tile-default .tile-content .tab-button h2 a,
        #content .tile-default .tile-content .tab-button h2 a:visited,
        #content .tile-default .tile-content .tab-button h2 a:hover{
        color: #172938 !important;
        font-weight: normal !important;
      }

       #main #plone-content #content .tile-default .tile-content .tab-button.active h2 a:hover,
       #main #plone-content #content .tile-default .tile-content .tab-button.active h2 a{
        color: #fff !important;
           font-weight: normal;
         }






.tile-default .tile-content .box-embed-social{
      padding: 30px 40px;
      background-color: #f8f8f8;
      border:1px solid #eaeaea;
      float: left;
      width: 100%;
      box-sizing: border-box;
    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content{

    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-lateral{
      float: left;
      width: 90px;
    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-lateral .box-embed-social-lateral-item{
      float: left;
      width: 57px;
      height: 57px;
      clear: left;
      margin-bottom: 8px;
      display: block;
      overflow: hidden;
      text-indent: -800px;
    }

    .box-embed-social-lateral-facebook{ background-image: url('../img/bg-lateral-facebook-off.jpg');  }
    .box-embed-social-lateral-facebook.active{ background-image: url('../img/bg-lateral-facebook-on.jpg');  }
    .box-embed-social-lateral-twitter{ background-image: url('../img/bg-lateral-twitter-off.jpg'); }
    .box-embed-social-lateral-twitter.active{ background-image: url('../img/bg-lateral-twitter-on.jpg'); }
    .box-embed-social-lateral-flickr{ background-image: url('../img/bg-lateral-flickr-off.jpg'); }
    .box-embed-social-lateral-flickr.active{ background-image: url('../img/bg-lateral-flickr-on.jpg'); }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-body{
      float: left;
      width: 516px;
      max-width: 100%;
      background: #fff;
      border:1px solid #ebebeb;
      border-radius: 2px;

    }


    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-body .box-embed-social-body-item{

    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-body .fb_iframe_widget{
        width: auto !important;
        max-width: 100%;
        min-width: 340px;
    }



    .box-embed-social-body-item + div{
      display: none;
    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-body  #social-facebook{
      text-align: center;
        padding: 25px 0;
    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-body  #social-flickr{
      text-align: center;
        min-height: 310px;
    }


.portletCalendarEx .month th {
    padding-top: 7px;
    padding-bottom: 7px;
}

.portletCalendarEx .month th .tooltip{
    visibility: hidden;
    position: absolute;
    display: none !important;
}

.portletCalendarEx .event  .tooltip{
    visibility: hidden;
    position: absolute;
    display: none !important;
}

#portal-column-two dl.portletCalendarEx .event  a:link,
#portal-column-two dl.portletCalendarEx .event  a{
    color: #2c67cd !important;
}

.accordion-box-content{
  margin-top: 25px;
}

.accordion-box-content .accordion-box-header{
  margin-top: 15px;
  padding: 15px;
  color:#676767;
  background-color: #f8f8f8;
  background-image: url('../img/accordion-off.jpg'); 
  background-repeat: no-repeat;
  background-position: 95% center;
  cursor: pointer;
}

.accordion-box-content .accordion-box-header.activeAccordion{
    background-image: url('../img/accordion-on.jpg'); 
    background-color: #01519a;
}

.accordion-box-content .accordion-box-header h4{
   color:#676767;
}

.accordion-box-content .accordion-box-header.activeAccordion h4{
    color: #fff;
}

.accordion-box-content .accordion-box-body{
  padding: 25px;
  background-color: #f8f8f8;
  border:1px solid #eaeaea;
  display: none;
}

.box-list-download{
  padding: 14px 15px 14px 35px;
  background-color: #f8f8f8;
  background-image: url('../img/accordion-off.jpg'); 
  background-repeat: no-repeat;
  background-position: 10px 15px;
  margin-top: 25px;
  box-sizing: border-box;
   border:1px solid #f8f8f8;
}

.box-list-download:hover{
  border:1px solid #666;
}

#document-action-print{
  display: none !important;
}

  @media only screen and (max-width: 768px) {
    .box-map-list{
      width: 100%;
      position: initial;
    }

    .tabs-tile .tab-label{
      display: block;
      padding-bottom: 10px;
    }

    .tabs-tile .tab-dropdown{
      display: block;
    }
  }


  @media only screen and (max-width: 768px) {

    .tile-default .tile-content .box-embed-social{
       padding: 5px;
    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-lateral{
      width: 100%;
    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-lateral .box-embed-social-lateral-item{
          clear: none;
      margin-right: 10px;
    }

    .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-body  #social-facebook iframe{
      max-width: 100%;
    }

}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Smartphone
   ========================================================================== */

@media only screen and (min-width : 320px) and (max-width : 768px) {

    .menuTrigger {
        background: #0e4097 url("../img/bg-menu-mobile.png") top right no-repeat;
    }

    .portlet-static-contents-central .portletHeader,
    .portlet-static-resource-center .portletHeader,
    .portlet-static-centrales-del-contenido .portletHeader,
    .portlet-static-centrais-de-conteudos .portletHeader,
    .portletNavigationTree .portletHeader {
        background: #edeff1 url("../img/portlet-header.gif") no-repeat 96% center;
    }

    .portletNavigationTree .portletHeader.ativo {
        background: url("../img/portlet-header-expanded.gif") no-repeat 96% center;
    }

    .portletNavigationTree .portletHeader{
      color: #000;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  #header #portal-searchbox .searchButton {
    background: url("../img/search-button-30px.png") no-repeat;
  }
}



@media only screen and (max-width : 480px) {
  #content .table-content{
    overflow: auto;
    padding-bottom: 15px;
  }
}


@media only screen and (max-width : 768px) {

  #barra-identidade{
    float: left;
    width: 100%;
  }

  #barra-brasil{
    height: 16px;
  }

  #accessibility-wrapper{
      top: 42px;
  }

  #portal-title-1{
      top: 19px;
  }

  #portal-title{
      top: 28px;
  }

  #sobre ul{
      text-align: center;
  }

  #content .tile-default img{
      width: 100%;
  }

  #content .tile .cover-richtext-tile{
     padding: 10px 5px;
  }

  #content .tile .cover-richtext-tile  .list-imagens-home li{
    margin: 10px 0 0 0;
    padding: 5px;
  }

  #content  .tile .cover-richtext-tile  .list-imagens-home li + li{
    margin: 10px 0 0 0;
  }

  #cd1c7057-9405-4f4a-b35a-2f3f4491a95e,
  #a303b60a-bfbd-4169-8d57-9459b0ca360b{
    display: none;
  }
}


#slideImagem {
  width: 650px;
  max-width: 100%;
  overflow: hidden;
  height: 300px;
  margin: 25px auto;
  box-shadow: 0 0 8px #000;
  position: relative;
}

#slideImagem img {
  display: none;
  max-width: 100%;
  margin:  0 auto;
}

#slideImagem p {
  z-index:2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
  background: rgba(0,0,0,0.5);
  color: #fff !important;
}

#content .tr-semborda .cover-richtext-tile p{
  color: #666666;
}

.tile p{
  color: #666666;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
   font-size: 110%  !important;
    line-height: 1.8 !important;
}

.tile li{
   font-family: "open_sansregular", Arial, Helvetica, sans-serif;
   line-height: 1.8em;
   font-size: 110%;
   color: #666666;
}

#content .tr-semborda .cover-richtext-tile p{
      font-size: 110%  !important;
    line-height: 1.8 !important;
}

.image-full{
  width: 100%;
}

/* ==========================================================================
   Tabs Concursos e Seleções
   ========================================================================== */
#bug:target {
  outline: 4px solid #ccc;
}

/**
 * tab panel widget
 */
.tabPanel-widget {
  position: relative;  /* containing block for headings (top:0) */
  /*background: #999;*/
}

/**
 * because labels come first in source order - we use z-index to move them in front of the headings
 */
.tabPanel-widget > label {
  position: absolute;
  z-index: 1;
}

/**
 * labels and headings must share same values so grouping declarations in this rule prevents async edits (risk of breakage)
 * line-height == height -> vertical centering
 * the width dictates the offset for all headings but the first one: left offset = width * number of previous heading(s)
 * note that width and offset of label/heading pair can be customized if necessary
 */

.tabPanel-widget > label,
.tabPanel-widget > h2 {
  font-size: 1.1em;
  width: 9em;
  height: 2em;
  line-height: 2em;
}

/**
 * position:relative is for the markers (the down arrow in tabs)
 */
.tabPanel-widget > h2 {
  position: relative;
  margin: 0;
  text-align: center;
  background: #ccc;
  color: #fff;
}

.tabPanel-widget > label {
  border-right: 1px solid #fff;
}

/**
 * all first level labels and headings after the very first ones
 */
.tabPanel-widget > label ~ label,
.tabPanel-widget > h2 ~ h2 {
  position: absolute;
  top: 0;
}


/**
 * We target all the label/heading pairs
 * we increment the :nth-child() params by 4 as well as the left value (according to "tab" width)
 */

.tabPanel-widget label:nth-child(1),
.tabPanel-widget h2:nth-child(3) {
  left: 0em;
}

.tabPanel-widget label:nth-child(5),
.tabPanel-widget h2:nth-child(7) {
  left: 9em;
}

.tabPanel-widget label:nth-child(9),
.tabPanel-widget h2:nth-child(11) {
  left: 18em;
}

.tabPanel-widget input + h2 + div {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/**
 * we reveal a panel depending on which control is selected
 */
.tabPanel-widget input:checked + h2 + div {
  position: static !important;
  padding: 1em !important;
  height: auto !important;
  width: auto !important;
}

/**
 * shows a hand cursor only to pointing device users
 */
.tabPanel-widget label:hover {
  cursor: pointer;
}

.tabPanel-widget > div {
  background: #f0f0f0;
  padding: 1em;
}

/**
 * we hide radio buttons and also remove them from the flow
 */
.tabPanel-widget input[name="tabs"] {
  opacity: 0;
  position: absolute;
}


/**
 * this is to style the tabs when they get focus (visual cue)
 */

.tabPanel-widget input[name="tabs"]:focus + h2 {
  outline: 1px dotted #000;
  outline-offset: 10px;
}


/**
 * reset of the above within the tab panel (for pointing-device users)
 */
.tabPanel-widget:hover h2 {
  outline: none !important;
}

/**
 * visual cue of the selection
 */
.tabPanel-widget input[name="tabs"]:checked + h2 {
  background: #999;
}

/**
 * the marker for tabs (down arrow)
 */
.tabPanel-widget input[name="tabs"]:checked + h2:after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #999;
}

/**
 * Make it plain/simple below 45em (stack everything)
 */
@media screen and (max-width: 45em) {

  /* hide unecessary label/control pairs */
  .tabPanel-widget label,
  .tabPanel-widget input[name="tabs"] {
    display: none;
  }

  /* reveal all panels */
  .tabPanel-widget > input + h2 + div {
    display: block !important;
    position: static !important;
    padding: 1em !important;
    height: auto !important;
    width: auto !important;
  }

  /* "unstyle" the heading */
  .tabPanel-widget h2 {
    width: auto;
    position: static !important;
    background: #ccc !important;
  }

  /* "kill" the marker */
  .tabPanel-widget h2:after {
    display: none !important;
  }

}


.bloco-download{
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

.bloco-download p{
  padding-right: 10px;
}

.bloco-download img{
  float: left;
  margin: 0 15px 0 10px;
  width: 162px;
  max-width: 100%;
}


.bloco-download + div{
  padding-top: 20px;
}

.bloco-download:nth-child(even){
  background: #f2f2f2;
}

.download-ajust{
  clear: both; padding-top: 9px; padding-left: 15px;
}

#content-core ul.listabuttons,
#content ul.listabuttons{
  margin-left: 0;
  list-style: none;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

#content-core ul.listabuttons li,
#content ul.listabuttons li{
  font-size: 110%;
    display: inline-block;
    border: 1px solid #6666;
    width: 48%;
    list-style: none;
    margin-right: 1%;
}

#content-core ul.listabuttons li a,
#content ul.listabuttons li a{
  color: #666 !important;
  display: block;
  padding:15px;
  text-align: center;
}

#content-core ul.listabuttons li:hover,
#content ul.listabuttons li:hover{
  background-color: #f2f2f2;

}

#doormat-container{
  border:none;
  border-top: none;
  padding-top: 0 !important;
}

#doormat-container dl{
    border-left: 1px dashed #ffffff;
}

#doormat-container .column-3 dl{
  border:none;
}

#doormat-container .column-3 p{
  padding-left: 10px;
  font-size: 1.4em;
}

#doormat-container .column-3 p a{
  text-decoration: underline;
}

#doormat-container dt{
  text-indent: 15px;
  position: relative;
}

#doormat-container dt::before {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background: #fff;
    content: " ";
    position: absolute;
    left: 11px;
    top: 10px;
}


#doormat-container .column-3 dt{
  text-indent: 0px;
  position: relative;
}

#doormat-container .column-3  dt::before {
    display: none
}


#content-core p.pconheca,
#content p.pconheca{
    font-size: 120%;
    color: #005197 !important;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#portal-features div.row{
    margin: 0;
}

#portal-features div.row .tile{
      margin: 0;
}


/* these styles are for the demo, but are not required for the plugin */
.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
  background:url(../img/icon.png);
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }


#social-icons a{
      background-image: url(../img/sprite_redes.png);
}

#social-icons a{
  width: 30px;
  height: 30px;
}

#portalredes-facebook a{
      background-position: -120px -36px;
}

#portalredes-facebook a{
      background-position: -120px -36px;
}

#portalredes-twitter a{
      background-position: -232px -36px;
}

#portalredes-flickr a {
    background-position: -157px -36px;
}

#portalredes-youtube a {
    background-position: -195px -36px;
}


.slider-master{
  float: right;
  max-width: 100%;
  width: 300px;
}


.sss {
  height: 0;
  margin: 0; 
  padding: 0;
  position: relative;
  display: block;
  overflow: hidden;
}

.ssslide {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
}

.ssslide img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

.sssnext, .sssprev {
  width: 25px;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  background: url('../img/arr.png') no-repeat;
}

.sssprev {
  left: 3%;
  background-position: 0 50%;
}

.sssnext {
  right: 3%;
  background-position: -26px 50%;
}

.sssprev:hover, .sssnext:hover {
  cursor: pointer;
}

.section-noticias #content div.newsLeftPane{
  display: none;
}

.section-noticias .newsRelatedItems #related-items{
  display: block;
  width: auto;
  border: none;
      margin: 15px 0;
    padding: 0;
}

.section-noticias .newsRelatedItems #related-items legend{
      font-size: 120%;
    color: #005197 !important;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: block;
    width: 100%;
}

.cover-list-tile .list-item{
    border-bottom: 1px solid #e5e5e5;
        margin-top: 20px;
}

.cover-list-tile .list-item p:first-child{
      font-size: 12px !important;
      background: url('../img/ico-data.gif') no-repeat 0 center;
      text-indent: 20px;
}

.cover-list-tile .list-item p{
    font-size: 12px !important;
}

.cover-list-tile .list-item img{
  float: left;
  margin-right: 20px;
}

.cover-list-tile .list-item h2{
  padding-top: 0px !important;
}

#content .tr-semborda .cover-richtext-tile .bloco-icone{
     padding-left: 36px;
  padding-right: 25px;
  font-size: 12px !important;
}

.icone-map{
  background: url('../img/icone-map.jpg') no-repeat 0 5px;
}

.icone-email{
  background: url('../img/icone-mail.jpg') no-repeat 0 5px;
}

.icone-tel{
  background: url('../img/icone-tel.jpg') no-repeat 0 5px;
}

.icone-chefe{
  background: url('../img/icone-chefia.jpg') no-repeat 0 5px;
}


.bloco-destaque-saibamais-content .col-md-6{
  display: inline-block;
  float: none;
}

.bloco-destaque-saibamais-content .bloco-destaque-saibamais{
  padding: 0 10px 0 0;
}

.bloco-destaque-saibamais-content .bloco-destaque-saibamais p{
  font-size: 12px !important;
}

.bloco-destaque-saibamais-content  .bloco-destaque-saibamais p strong{
  color: #000 !important;
}

.bloco-destaque-saibamais-content  .bloco-destaque-saibamais p a{
  color: #666666 !important;
  font-weight: bold;
  display: inline-block;
  background: url('../img/img-ico-saibamais.jpg') no-repeat 0 center;
  text-indent: 15px;
}

iframe{
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.template-licitacao_folder_view #content > p {
   display: none;
}

.template-licitacao_folder_view #content > div > h5{
  font-size: 120%;
    color: #005197 !important;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#tile_banner_rotativo li .banner .faixa{
  background-image: none;
}

#content #tile_banner_rotativo.chamada_com_foto{
    min-height: 690px;
}

.section-noticias .newsRelatedItems #related-items div{
  display: block;
  padding: 10px 15px;
  border:1px solid #ebebeb;
  margin-bottom: 10px;
}

.section-noticias .newsRelatedItems #related-items div:hover{
  background-color: #f2f2f2;
}

.section-noticias .newsRelatedItems #related-items div a{
    font-size: 14px;
    color: #000;
}

#tile_banner_rotativo li .banner .title{
    display: block;
    margin: 0 0 0.450em 0;
    font-size: 2rem;
}

#category{
  text-transform: uppercase;
  font-size: 15px;
}

#units form{
  display: inline-block;
   width: 48%;
       margin-right: 1%;
       margin-bottom: 12px;
}

#units .unit{
    display:block;
    border: 1px solid #6666;
    width: 100%;
}

#units .unit input{
    color: #666 !important;
    display: block;
    padding: 15px;
    text-align: center;
    background: none;
    border:none;
        width: 100%;
        font-size: 11px;
    cursor: pointer;
}

#units .unit input:hover{
  background-color: #f2f2f2;
}

#unit-filters .details{
  position: relative;
}

#unit-filters .details .search-advanced{
    position: absolute;
    right: 20px;
        top: 160px;
}

#unit-filters .details .search-advanced a{
  color: #666;
  text-decoration: underline;
  font-weight: bold;
  font-size: 12px;
}


#unit-filters .details form{
  background-color: #f8f8f8;
  padding: 15px 15px 0 15px;
  border:1px solid #eaeaea;
}

#unit-filters .details form fieldset{
    display: inline-block;
    width: 30%;
        border: none;
        min-height: 78px;
} 

#unit-filters .details form .filters{
  display: inline-block;
  width: 80%;
  padding: 0 0 25px 0;
}

#unit-filters .details form label{
    display: inline-block;
        display: inline-block;
       margin: 19px 0 0 15px;
} 

#unit-filters .details form select{
    margin: 15px 0 0 25px;
    width: auto;
    background: #f4e8e8;
    border: 1px solid #000;
}


.tile .twoselects-tile .selects{
  padding: 20px 10px;
  border:1px solid #ebebeb;
  box-sizing: border-box;
}

.tile .twoselects-tile select{
  background-color: #f4e8e8;
  border-color: #343434;
}

.tile .twoselects-tile .first-select{
  margin-right: 10px;
}


.tile  .twoselects-tile .twoselects-results{
  padding: 20px;
  background: #f2f2f2;
}


.box-noticia-left time{
    font-size: 10px !important;
    font-family: Arial;
    color: #adadad;
    display: inline-block;
    padding-left: 20px;
    background-image: url(../img/ico-data.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    padding-right: 8px;
}

#content .box-noticia-left h2 a{
  color: #000 !important;
}

#content .box-noticia-left .imag img {
    margin-top: 30px;
}

#content .box-noticia-left .imag img.left{
    width: auto;
    margin-right: 45px;
    margin-top: 20px;
}

#content .box-noticia-left  #category{
    border: none;
    margin-top: 0;
    clear: none;
    color: #6db583;
    font-weight: bold;
}

#content .box-noticia-left  #category span a{
    background: none;
    border: none;
    color: #adadad !important;
}

#content .box-noticia-left  #category span a:hover{
    text-decoration: underline;
}

#content .box-noticia-left .tile-section{
  display: none;
}

.box-noticia-left .tile-content{
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
}


.box-homeop4 img{
  width: 100%;
  margin-bottom: 20px;
  display: block;
}

.box-homeop4 .list-format-homeop4 li{
  list-style: url('../img/img-bullet-list-f1.jpg') !important;
}

.box-noticia-right{
  padding-top: 40px;
}


.box-noticia-right time{
    font-size: 10px !important;
    font-family: Arial;
    color: #adadad;
    display: inline-block;
    padding-left: 20px;
    background-image: url(../img/ico-data.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    padding-right: 8px;
}

#content .box-noticia-right h2 a{
  color: #000 !important;
}

#content .box-noticia-right .imag img {
  margin-bottom: 30px;
}


#content .box-noticia-right  #category{
    border: none;
    margin-top: 0;
    clear: none;
    color: #6db583;
    font-weight: bold;
}

#content .box-noticia-right  #category span a{
    background: none;
    border: none;
    color: #adadad !important;
}

#content .box-noticia-right  #category span a:hover{
    text-decoration: underline;
}

#content .box-noticia-right .tile-section{
  display: none;
}

.box-noticia-right .tile-content{
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
}



.box-homeop4 .col-md-4 img{
  margin-top: 8px;
} 

.box-homeop4 p{
  padding-left: 15px;
}

#unit-filters .details{
  margin-bottom: 20px;
  margin-top: 20px;
}

#unit-filters .details form:first-child{
  background-color: #05913a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
      padding: 15px 15px 0 15px;
      border:none;
}

#content .details fieldset{
  background-color: #05913a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 13px 15px 0 15px;
  border:none;
}

#content .details fieldset legend{
   color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    padding: 40px 0 0 0;
}

#content .details fieldset h6{
   color: #fff;
    font-size: 13px;
        padding-bottom: 10px;
}


#content #unit-filters .details form:first-child fieldset{
      display: inline-block;
    width: 30%;
} 

#content #unit-filters .details form:first-child fieldset legend {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 0px;
}

#content #unit-filters .details form:first-child fieldset h6 {
    color: #fff;
    font-size: 13px;
    padding-bottom: 0px;
}

#content #unit-filters .details form:first-child select{
    display: inline-block;
    width: 60%;
    margin: 41px 0 0 25px;
}

.owl-carousel .item .imagem-item{
  padding-bottom: 25px;
}

.owl-carousel .item .imagem-item img{
  width: 100%;
  display: block;
}


#content .tr-semborda .owl-carousel .item .data-item{
    font-size: 10px !important;
    font-family: Arial;
    color: #adadad;
    display: block;
    padding-left: 16px;
    background-image: url(../img/ico-data.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#content .tr-semborda .owl-carousel .item .titulo-item a{
    font-family: Arial;
    font-size: 33px;
    line-height: 1.1;
    padding-top: 20px;
    color: #000000 !important;
}

#content .tr-semborda .owl-carousel .item .descricao-item {
    font-size: 14px;
    color: #666666;
    font-family: Arial;
}

#content .tr-semborda  .owl-carousel{
      top: -38px;
}

.olw-next-slider{
  overflow: hidden;
  width: 43px;
  height: 81px;
  background-image: url(../img/owl-seta-next.png);
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  position: absolute;
  z-index: 500;
  top: 26%;
}

.olw-next-slider a{
  display: block;
  text-indent: -800px;
  width: 43px;
  height: 81px;
}

.olw-prev-slider{
  overflow: hidden;
  width: 43px;
  height: 81px;
  background-image: url(../img/owl_seta_prev.png);
  background-repeat: no-repeat;
  top: 50%;
  left:0;
  position: absolute; 
  z-index: 500;
  top: 26%;
}

.olw-prev-slider a{
  display: block;
  text-indent: -800px;
  width: 43px;
  height: 81px;
}

#content .tr-semborda .cover-richtext-tile{
  position: relative;
}
    

#results .listing{
  width: 100%;
}

#results .listing thead tr th{
  background-color: #76b7ef;
  color: #fff;
}

#content .videogallery-tile .gallery-tile{
      background-color: #01519a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
  
#content .videogallery-tile .videogallery-inner{
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid #eaeaea;
}

#content .videogallery-tile .gallery-footer{
  display: none;
}

.gallery-3-columns .player-holder{
  width: 70%;
}

.gallery-3-columns .player-holder iframe{
  width: 100%;
  height: 260px !important;
}

.gallery-3-columns .galery-items{
    float: left;
    margin: 0 0 0 1%;
    width: 29%;
    background: #ebebeb;
    padding-bottom: 20px;
}

.gallery-3-columns .galery-items .gallery-element-link{
    float: none;
    margin: 0;
    width: 100%;
    height: auto;
}

.gallery-3-columns .galery-items .gallery-element-link img{
  width: 100%;
      margin-bottom: 5px;
}

.gallery-element{
    border-bottom: none;
}

.gallery-element-metadata{
  height: auto;
}

#content .gallery-element-metadata .title{
  color: #666666;
}

.gallery-element-wrapper{
  padding: 15px 15px 0 15px; 
}

.player-metadata .title{
  color: #666666;
}

.videogallery-tile .description{
  color: #666666;
}

.video-listagem .gallery-3-columns .player-holder{
  display: none;
}

.video-listagem .gallery-3-columns .galery-items{
  background: none;
      margin: 0 0 0 0;
    width: 100%;
}

.video-listagem .gallery-3-columns .galery-items .gallery-element{
  width: 33%;
}

.carrossel-Imagens .mediacarousel{
      border-top-left-radius: 8px;
    border-top-right-radius: 8px;

            background: #f8f8f8;
    border: 1px solid #eaeaea;
}

.carrossel-Imagens .mediacarousel .mediacarousel-tile{
      background-color: #01519a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

        margin: 0px;
    padding: 15px;
    border-bottom: 1px solid #2e5493;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

.carrossel-Imagens .mediacarousel-footer-container{
  display: none;
}

.carrossel-Imagens .galleria-thumbnails-container{
  background: none;
  border:none;
}

.carrossel-Imagens .galleria-info{
      margin: 9px 0 4px 20px;
    padding-top: 13px;
}


#content .carrossel-Imagens .galleria-info .galleria-info-text .galleria-info-title a{
  color: #666666 !important;
}

.video-listagem{
  margin-top: 40px;
}

.video-listagem .tile-header span{
      font-weight: bold !important;
    color: #005199;
    border-bottom: 1px solid #ebebeb;
    background: none;
    padding-left: 0px;
    font-size: 3em !important;
    text-transform: none;

        padding-top: 21px;
    min-height: auto;
    padding-bottom: 21px;

    margin-bottom: 0;
}

.video-listagem  .collection-item{
  float: left;
  width: 100%;
  margin-top: 25px;
}

.video-listagem  .collection-item img{
  float: left;
  margin-right: 18px;
}

.video-listagem  .collection-item h2 a{
  color: #666666 !important;
}

#content .video-listagem .tile-footer{
  float: left;
  margin-top: 30px;
  margin-bottom: 15px;
}


#content .video-listagem .tile-footer a{
  color: #666666 !important;
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #666666;
}

.btns-licitacoes{
  position: relative;
}

#content .btns-licitacoes a:first-child{
    display: inline-block;
    padding: 4px 16px;
    background: #049039;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;

    position: absolute;
    right: 0;
    top: -57px;
}


#content .btns-licitacoes a:last-child {
    display: inline-block;
    padding: 4px 16px;
    background: #01519a;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;

    position: absolute;
    top: -57px;
    right: 84px;
}

#content .btns-licitacoes a:hover{
    color: #ffffff !important;
}

.details .detalhes table.listing{
      width: 100%;
}

.details .detalhes table.listing thead tr th{
    background-color: #76b7ef;
    color: #fff;
    border-color: #5380a9;
}

.details .detalhes table.listing tbody tr td{
    background-color: #d5ebff;
    color: #6f7074;
    border-color: #5380a9;
    border-left: 1px solid;
}

#content .details .detalhes table.listing tbody tr td span{
    color: #6f7074 !important;
}

#text_detail .text_detail{
    min-height: 520px;
    color: #666666;
    background-color: #f2eeed;
}

#text_detail form{
  background: #01519a;
  padding: 12px 20px 12px 0;
  text-align: right;
}

#text_detail form input[type="submit"]{
  background: none;
  display: inline-block;
  color: #fff;
  padding: 4px 15px;
  font-weight: bold;
  border:1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}


#register_ws form h5 {
  padding: 25px 0 0 0;
}

#content form label{
  padding: 18px 0 2px 0;
    display: inline-block;
}

#content form input[type="text"]{
      width: auto;
      border: 1px solid #dfdfdf;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    text-indent: 2px;
        font-family: "open_sansregular", Arial, Helvetica, sans-serif;
            margin: 0;
}

#content form hr{
  margin: 25px 0;
}



.register_actions .register_cancel{
   display: inline-block;
    background: red;
    padding: 4px 16px;
    border-radius: 8px;
}

#content .register_actions .register_cancel a{
  color: #fff;
}

#content .register_actions .register_cancel a:hover{
  color: #fff !important;
}


.register_actions .register_sendform{
   display: inline-block;
    background: #005199;
    padding: 4px 16px;
    border-radius: 8px;
    margin-left: 8px;
}

#content .register_actions .register_sendform{
  color: #fff;
}

#content .register_actions .register_sendform:hover{
  color: #fff !important;
}

#login_ws h5{
      padding: 25px 0;
}

.login_actions .register_text{
  padding-bottom: 12px;
}

.login_actions input{
  display: inline-block;
    background: #005199;
    padding: 4px 16px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

.login_details{
  padding-top: 25px;
  color: red;
  font-style: italic;
}

.unidade-grupo-editais{
  padding-bottom: 15px;
}


#search_form span.clear{
   display: inline-block;
    background: red;
    padding: 4px 16px;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
}

#search_form input[type="submit"]{
  display: inline-block;
    background: #005199;
    padding: 4px 16px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    margin-left: 8px;
}

#list_downloads h6{
  font-size: 18px;
  padding-bottom: 18px;
  padding-top: 25px;
}

#list_downloads .listing{
  width: 100%;
}


@media only screen and (max-width : 768px) {

  #content-core ul.listabuttons li,
  #content ul.listabuttons li{
       width: 100%;

    }
  }


  /**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
      This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
      calculation of the height of the owl-item that breaks page layouts
     */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }



/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

      



body.contraste #content-core p.pconheca,
body.contraste #content p.pconheca,{
  border-color: #fff;
  color: #fff !important;
}

  body.contraste .navTreeLevel0 > li.navTreeItemInPath .navTreeLevel1 .navTreeItem a span,
  body.contraste .navTreeLevel0 > li.navTreeCurrentNode .navTreeLevel1 .navTreeItem a span{
    color: #ff0 !important;
}

 body.contraste .bloco-destaque-lista .bloco-destaque-item-col p a{
    color: #ff0 !important;
 }


 body.contraste #content .tr-fundocinza .cover-richtext-tile{
   background-color: transparent;
 }


  body.contraste .lista-horizontal .tile-content h2 a,
  body.contraste .lista-horizontal .tile-content h2 a:visited{
    color: #ff0 !important;
}

 body.contraste  .tile-default .tile-content h2 a,
 body.contraste  .tile-default .tile-content h2 a:visited{
  color: #ff0 !important;
}


 body.contraste  .tile-default .tile-content time{
  color: #fff;
 }

  body.contraste  #content .tile .content-mapa-texto a.link-mapa-point{
  border-color: #fff !important;
  color: #fff !important;
 }

   body.contraste  .tile-default .tile-content .box-embed-social{
  background-color: transparent;
  border-color: #fff;
 }

 body.contraste  .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-lateral .box-embed-social-lateral-item{
  background-color: #fff;
 }

 body.contraste #content-core p,
 body.contraste #content-core li{
  color: #fff;
 }

 body.contraste .box-map-list .box-map-list-content{
  background-color: #000;
 }

 body.contraste #content-core li a:visited,
 body.contraste #content-core li a:link,
 body.contraste #content-core li a{
  color: #ff0 !important;
 }

body.contraste #social-icons a,
body.contraste #header input.searchButton,
body.contraste .item-central .link-videos,
body.contraste .item-central .link-audios,
body.contraste .item-central .link-infograficos,
body.contraste .item-central .link-publicacoes,
body.contraste .item-central .link-fotos,
body.contraste .item-central .link-aplicativos,
body.contraste .item-central .link-dadosabertos{
  background-image: url(++resource++brasil.gov.portal/img/sprite-contraste.png) !important;
  background-color: #000 !important;
  background-repeat: no-repeat !important;
}

body.contraste #social-icons a{
    width: 30px;
    height: 30px;
    background: url('../img/sprite-contraste-redes_02.png') no-repeat !important;
}


body.contraste #portalredes-twitter a {
    background-position: -40px 0px !important;
}

body.contraste #portalredes-youtube a {
        background-position: -78px 0!important;
}

body.contraste #portalredes-facebook a {
        background-position: 0 0 !important;
}

body.contraste #portalredes-flickr a {
        background-position: -115px 0 !important;
}

body.contraste #portal-searchbox .searchField::-webkit-input-placeholder {
  color: #fff;
}
body.contraste #portal-searchbox .searchField::-moz-placeholder {
   color: #fff;
}
body.contraste #portal-searchbox .searchField:-ms-input-placeholder {
   color: #fff;
}
body.contraste #portal-searchbox .searchField:-moz-placeholder {
   color: #fff;
}

body.contraste .item-central .link-videos {
    background-position: 0 -156px !important;
}

body.contraste .item-central .link-audios {
    background-position: -1px -108px !important;
}

body.contraste .item-central .link-fotos {
    background-position: -1px -300px !important;
}

body.contraste .item-central .link-dadosabertos {
    background-position: -1px -400px !important;
}

body.contraste #content-core ul.listabuttons li,
body.contraste #content ul.listabuttons li{
      border: 1px solid #fff;
}

body.contraste .tile-default .tile-content .tab-button{
  border:1px solid #fff;
}

body.contraste .box-embed-social  .box-embed-social-lateral-flickr.active {
    background-image: url(../img/bg-lateral-flickr-on.jpg) !important;
}

body.contraste .box-embed-social .box-embed-social-lateral-facebook.active{
      background-image: url(../img/bg-lateral-facebook-on.jpg) !important;
}

body.contraste  .box-embed-social  .box-embed-social-lateral-flickr {
    background-image: url(../img/bg-lateral-flickr-off.jpg) !important;
}

body.contraste .box-embed-social  .box-embed-social-lateral-facebook{
  background-image: url(../img/bg-lateral-facebook-off.jpg) !important;
}

body.contraste  #content .tile-default .tile-content .tab-button h2 a,
body.contraste  #content .tile-default .tile-content .tab-button h2 a:visited,
body.contraste  #content .tile-default .tile-content .tab-button h2 a:hover{
  color: #ff0 !important;
}

body.contraste  .tile-default .tile-content .box-embed-social .box-embed-social-content .box-embed-social-body{
  background: #000;
}


body.contraste .tabs-tile .tab-button{
  background: none;
}

body.contraste .tabs-tile .tab-button.active{
  background: none;
}


body.contraste .tabs-tile .tab-button.active:after{
  display: none;
}

body.contraste .tabs-tile .tab-dropdown{
    color: #fff;
    background-color: #000;
}

body.contraste #content table.quadro tr:nth-child(odd) td,
body.contraste #content table.quadro tr:nth-child(even) td{
    background-color: transparent;
}

body.contraste #content table.quadro tr td{
  color: #fff !important;
}


body.contraste  #content table.quadro tr th{
  background-color: transparent;
}


body.contraste #content .relatar-erros a{
      background: url(++resource++brasil.gov.portal/img/icon-reportar-erros-contraste.png) no-repeat !important;
}


body.contraste #content .tr-fundocinza .tile-content{
  background-color: transparent;
}


body.contraste .box-select-combobox{
  background-color: #000;
}

body.contraste .box-select-combobox *{
  color: #fff;
}

body.contraste .combo_itens{
  background-color: #000;
}


body.contraste #content-core a.link-download-item{
      color: #ff0 !important;
}
